<!DOCTYPE html>
<html>
  <head>
    <title>PostalCodeTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
    <div class="container">
      <%= form_with(url: search_path, method: :get, local: true) do |f| %>
        <%= f.text_field :postal_code, class: "form search", placeholder: "郵便番号を入力してください" %>
      <% end %>
      <%= form_with(url: jonson_path, method: :get, local: true) do |f| %>
        <%= f.number_field :comment, class: "form num",min:1 ,max:500, placeholder: "numberを1〜500で入力してください" %>
      <% end %>

      <%= form_with(url: tvjon_path, method: :get, local: true) do |f| %>
        <%= f.select("area",[
          "010:札幌", "011:函館", "012:旭川", "013:帯広", "014:釧路", "015:北見", "016:室蘭", "020:青森",
          "030:盛岡", "040:仙台", "050:秋田", "060:山形", "070:福島","080:水戸", "090:宇都宮", "100:前橋",
          "110:さいたま", "120:千葉", "130:東京", "140:横浜","150:新潟", "160:富山", "170:金沢", "180:福井",
          "190:甲府", "200:長野", "210:岐阜", "220:静岡", "230:名古屋", "240:津," "250:大津", "260:京都",
          "270:大阪", "280:神戸", "290:奈良", "300:和歌山","310:鳥取", "320:松江", "330:岡山","340:広島",
          "350:山口", "360:徳島", "370:高松", "380:松山", "390:高知", "400:福岡", "401:北九州", "410:佐賀",
          "420:長崎", "430:熊本", "440:大分", "450:宮崎", "460:鹿児島", "470:沖縄"
        ]
        ) %>
        <%= f.select("service",["g1:ＮＨＫ総合１",
          "g2:ＮＨＫ総合２",
          "e1:ＮＨＫＥテレ１",
          "e2:ＮＨＫＥテレ２",
          "e3:ＮＨＫＥテレ３",
          "e4:ＮＨＫワンセグ２",
          "s1:ＮＨＫＢＳ１",
          "s2:ＮＨＫＢＳ１(１０２ｃｈ)",
          "s3:ＮＨＫＢＳプレミアム",
          "s4:ＮＨＫＢＳプレミアム(１０４ｃｈ)",
          "r1:ＮＨＫラジオ第1",
          "r2:ＮＨＫラジオ第2",
          "r3:ＮＨＫＦＭ",
          "n1:ＮＨＫネットラジオ第1",
          "n2:ＮＨＫネットラジオ第2",
          "n3:ＮＨＫネットラジオＦＭ"]) %>
        <%= f.select("date",
        [time,time(1), time(2), time(3), time(4), time(5), time(6), time(7)]
        ) %>
        <%= f.submit "検索" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
